<html>

<body>
    <div class="resumeOne-root resumeOne-montserrat">
        <div class="resumeOneMain resumeOne-orange-color">

            <span name="full_name" class="resumeOne-capBox resumeOne-nameBox">
                {{ data.name }}
            </span>
            <span name="position" class="resumeOne-capBox resumeOne-positionBox">
                {{ data.position }}
            </span>
            <div name="profile" class="resumeOne-descriptionBox">
                <span>{{ data.profile }}</span>
            </div>
            <div class="resumeOne-section-2">
                <div class="resumeOne-left-section">
                    <div>
                        <p class="resumeOne-orange-section">ACHIEVEMENTS</p>
                        <span class="resumeOne-inputs">
                            {% set lists = data.achievements|split(",,") %}
                            {% for item in lists %}
                            <div>{{ item }}</div>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="resumeOne-section">
                        <p class="resumeOne-orange-section">CONTACT DETAILS</p>
                        <span class="resumeOne-inputs">
                            <span>{{ data.email }}</span>
                            <span>{{ data.phone }}</span>
                            <span>{{ data.url }}</span>
                            <span>{{ data.address}}</span>
                        </span>
                    </div>
                    <div class="resumeOne-section">
                        <p class="resumeOne-orange-section">CORE SKILLS</p>
                        <span class="resumeOne-inputs">
                            {% set lists = data.skills|split(",,") %}
                            {% for item in lists %}
                            <div>{{ item }}</div>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="resumeOne-section">
                        <p class="resumeOne-orange-section">HOBBIES &amp; INTERESTS</p>
                        <span class="resumeOne-inputs">
                            {% set lists = data.interests|split(",,") %}
                            {% for item in lists %}
                            <div>{{ item }}</div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="resumeOne-right-section">
                    <p class="resumeOne-orange-section">EDUCATION DETAILS</p>
                    <span class="resumeOne-inputs">
                        <span>{{ data.education_institute }}</span>
                        <span>{{ data.education_degree }}</span>
                        <span>{{ data.education_course }}</span>
                        <div class="resumeOne-dates">
                            <span class="resumeOne-date">{{ data.education_start }}</span>
                            <span class="resumeOne-date">{{ data.education_end }}</span>
                        </div>
                        <span>GPA: {{ data.education_score }}</span>
                    </span>
                    <div class="resumeOne-section">
                        {% if data.internActive == 'true' %}
                        <p class="resumeOne-orange-section">INTERNSHIP/COURSES</p>
                        <span class="resumeOne-inputs">
                            <span>{{ data.intern_company }}</span>
                            <span>{{ data.intern_position }}</span>
                            <div class="resumeOne-dates">
                                <span class="resumeOne-date">{{ data.intern_start }}</span>
                                <span class="resumeOne-date">{{ data.intern_end }}</span>
                            </div>
                            <ul>
                                {% set lists = data.intern_description|split(",,") %}
                                {% for item in lists %}
                                {% if item != '' %}
                                <li>{{ item }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </span>
                        {% else %}
                        <p class="resumeOne-orange-section">WORK EXPERIENCE</p>
                        {% set experiences = data|get_experience %}
                        {% for i in experiences %}
                        {% if loop.first %}
                        <span class="resumeOne-inputs">
                            <span>{{ i.company }}</span>
                            <span>{{ i.position }}</span>
                            <div class="resumeOne-dates">
                                <span class="resumeOne-date">{{ i.start }}</span>
                                <span class="resumeOne-date">{{ i.end }}</span>
                            </div>
                            <ul class="resumeOne-inputs">
                                {% set lists = i.description|split(",,") %}
                                {% for item in lists %}
                                {% if item != '' %}
                                <li>{{ item }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if page2active == 'true' %}
    <div class="resumeOne-root resumeOne-montserrat">
        <div class="resumeOneMain resumeOne-orange-color">
            <div class="resumeOne-section-2">
                <div class="resumeOne-left-section">

                    {% if data.projectActive == 'true' %}
                    <p class="resumeOne-orange-section">PROJECTS</p>
                    {% set num = data.projectNum|get_range %}
                    {% set projects = data|get_project %}
                    {% for i in num %}
                    <span class="resumeOne-inputs-margin">
                        <span>{{ projects[i].name }}</span>
                        <div class="resumeOne-dates">
                            <span class="resumeOne-date-left">{{ projects[i].start }}</span>
                            <span class="resumeOne-date-left">{{ projects[i].end }}</span>
                        </div>
                        <ul class="resumeOne-left-ul">
                            {% set lists = projects[i].description|split(",,") %}
                            {% for item in lists %}
                            {% if item != '' %}
                            <li>{{ item }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </span>
                    {% endfor %}
                    {% endif %}


                    {% if data.certificateActive == 'true' %}
                    <p class="resumeOne-orange-section">CERTIFICATES</p>
                    {% set num = data.certificateNum|get_range %}
                    {% set certificates = data|get_certificate %}
                    {% for i in num %}
                    <span class="resumeOne-inputs-margin">
                        <span>{{ certificates[i].name }}</span>
                        <span>{{ certificates[i].center }}</span>
                        <ul class="resumeOne-left-ul">
                            {% set lists = certificates[i].description|split(",,") %}
                            {% for item in lists %}
                            {% if item != '' %}
                            <li>{{ item }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <span>Date of Obtainment: {{ certificates[i].obtainment }}</span>
                    </span>
                    {% endfor %}
                    {% endif %}


                    {% if data.recommendationActive == 'true' %}
                    <p class="resumeOne-orange-section">RECOMMENDATION</p>
                    <span class="resumeOne-inputs">
                        {% set lists = data.recommendations|split(",,") %}
                        {% for item in lists %}
                        <span>{{ item }}</span>
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
                <div class="resumeOne-right-section">
                    <div>
                        {% set experiences = data|get_experience %}
                        {% for i in experiences %}
                        {% if not loop.first %}
                        <div class="resumeOne-inputs-margin">
                            <span>{{ i.company }}</span>
                            <span>{{ i.position }}</span>
                            <div class="resumeOne-dates">
                                <span class="resumeOne-date">{{ i.start }}</span>
                                <span class="resumeOne-date">{{ i.end }}</span>
                            </div>
                            <ul class="resumeOne-inputs">
                                {% set lists = i.description|split(",,") %}
                                {% for item in lists %}
                                {% if item != '' %}
                                <li>{{ item }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
</body>

</html>