@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
@page :first {
      size: A4;
      margin: -10px;
}

@page {
      size: A4;
      margin-left: -10px;
      margin-top: 0px;
}

span {
      margin-bottom: 3px;
}

ul li {
      margin-bottom: 4px;
}

.resumeOne-montserrat div, input, textarea {
      font-family: 'Montserrat';
}

.resumeOne-cursive div, input, textarea {
      font-family: cursive;
      font-size: 15px;
}

.resumeOne-orange-color {
      /* border: 15px solid #FF7900; */
      border: 30px solid #FF7900;
}

.resumeOne-orange-section {
      color: #FF7900;
      font-weight: 700;
}

.resumeOne-green-color {
      border: 15px solid #b93aa8;
}

.resumeOne-green-section {
      color: #b93aa8;
      font-weight: 700;
}

.resumeOneMain {
      background-color: white;
      /* width: 766px;
      height: 1096px; */
      width: 736px;
      height: 1066px;
      display: flex;
      flex-direction: column;
      justify-items: center;
}

.resumeOne-section-2 {
      display: flex;
      flex-direction: row;
      margin-top: 38px;
}

.resumeOne-image {
      width: 100px;
}

.resumeOne-nameBox {
      font-size: 2.5rem;
      font-weight: bold;
      align-self: center;
      text-align: center;
      padding-top: 45px;
      width: 730px;
      height: 60px;
}

.resumeOne-positionBox {
      margin-top: 10px;
      align-self: center;
      text-align: center;
      width: 610px;
      color: #FF7900;
      letter-spacing: 2px;
      height: 45px;
}

.resumeOne-descriptionBox {
      font-size: 1em;
      align-self: center;
      text-align: center;
      width: 685px;
      height: 90px;
}

.resumeOne-capBox {
      text-transform: uppercase;
}

.resumeOne-inputs {
      display: flex;
      flex-direction: column;
}

.resumeOne-inputs-margin {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
}

.resumeOne-section {
      margin-top: 25px;
}

.resumeOne-left-section {
      width: 382px;
      border-right: solid black;
      text-align: right;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 15px;
}

.resumeOne-left-ul {
      position: relative;
      list-style: none;
      padding-right: 1.2em;
      text-align: right;
      margin-top: 2px;
      margin-bottom: 3px;
}

.resumeOne-left-ul li {
      margin-bottom: 4px;
}

.resumeOne-left-ul li:before {
      content: "\2022";
      position: absolute;
      right: 0;
}

.resumeOne-right-section {
      width: 382px;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 15px;
}

.resumeOne-dates {
      display: flex;
}

.resumeOne-date {
      width: 100px;
      margin-right: 10px;
}

.resumeOne-date-left {
      text-align: right;
      width: 100px;
}