<html>

<body>
    <div class="resumeThreeMain">
        <div class="resumeThree-resumeHeader">
            <div>
                <img src="{{ data.user_resume_image }}" class="resumeThree-Imageholder" />
            </div>
            <div class="resumeThree-Nameholder">
                <span class="resumeThree-capBox resumeThree-nameBox">
                    {{ data.name }}
                </span>
                <p class="resumeThree-capBox resumeThree-positionBox">
                    {{ data.position }}
                </p>
            </div>
        </div>

        <div class="resumeThree-section-2">
            <div class="resumeThree-left-section">
                <div>
                    <p class="resumeThree-left-section-title">PERSONAL PROFILE</p>
                    <div class="resumeThree-descriptionBox">
                        {{ data.profile }}
                    </div>
                </div>
                <div class="resumeThree-section">
                    <p class="resumeThree-left-section-title">CONTACT DETAILS</p>
                    <div class="resumeThree-inputs">
                        <span>{{ data.email }}</span>
                        <span>{{ data.phone }}</span>
                        <span>{{ data.url }}</span>
                        <span>{{ data.address}}</span>
                    </div>
                </div>

                <div class="resumeThree-section">
                    <p class="resumeThree-left-section-title">SKILLS AND ABILITIES</p>
                    <span class="resumeThree-inputs">
                        {% set lists = data.skills|split(",,") %}
                        {% for item in lists %}
                        <span>{{ item }}</span>
                        {% endfor %}
                    </span>
                </div>

                <div class="resumeThree-section">
                    <p class="resumeThree-left-section-title">HOBBIES & INTERESTS</p>
                    <span class="resumeThree-inputs">
                        {% set lists = data.interests|split(",,") %}
                        {% for item in lists %}
                        <span>{{ item }}</span>
                        {% endfor %}
                    </span>
                </div>

            </div>
            <div class="resumeThree-right-section">

                <div>
                    <p class="resumeThree-right-section-title">ACADEMIC PROFILE</p>
                    <span class="resumeThree-inputs">
                        <span>{{ data.education_institute }}</span>
                        <span>{{ data.education_degree }}</span>
                        <span>{{ data.education_course }}</span>
                        <div class="resumeThree-dates">
                            <span class="resumeThree-date">{{ data.education_start }}</span>
                            <span class="resumeThree-date">{{ data.education_end }}</span>
                        </div>
                        <span>GPA: {{ data.education_score }}</span>
                    </span>
                    <div>

                        <div class='resumeThree-section'>
                            {% if data.internActive == 'true' %}
                            <p class="resumeThree-right-section-title">INTERNSHIP/COURSES</p>
                            <span class="resumeThree-inputs">
                                <span>{{ data.intern_company }}</span>
                                <span>{{ data.intern_position }}</span>
                                <div class="resumeThree-dates">
                                    <span class="resumeThree-date">{{ data.intern_start }}</span>
                                    <span class="resumeThree-date">{{ data.intern_end }}</span>
                                </div>
                                <ul>
                                    {% set lists = data.intern_description|split(",,") %}
                                    {% for item in lists %}
                                    {% if item != '' %}
                                    <li>{{ item }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </span>
                            {% else %}
                            <p class="resumeThree-right-section-title">WORK EXPERIENCE</p>
                            {% set experiences = data|get_experience %}
                            {% for i in experiences %}
                            {% if loop.first %}
                            <span class="resumeThree-inputs">
                                <span>{{ i.company }}</span>
                                <span>{{ i.position }}</span>
                                <div class="resumeThree-dates">
                                    <span class="resumeThree-date">{{ i.start }}</span>
                                    <span class="resumeThree-date">{{ i.end }}</span>
                                </div>
                                <ul class="resumeThree-inputs">
                                    {% set lists = i.description|split(",,") %}
                                    {% for item in lists %}
                                    {% if item != '' %}
                                    <li>{{ item }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </span>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if page2active == 'true' %}
    <div class="resumeThreeMain-P2">
        <div class="resumeThree-section-2-P2">

            <div class="resumeThree-left-section-P2">
                {% if data.projectActive == 'true' %}
                <p class="resumeThree-left-section-title">PROJECTS</p>
                {% set num = data.projectNum|get_range %}
                {% set projects = data|get_project %}
                {% for i in num %}
                <span class="resumeThree-inputs">
                    <span>{{ projects[i].name }}</span>
                    <div class="resumeThree-dates">
                        <span class="resumeThree-date">{{ projects[i].start }}</span>
                        <span class="resumeThree-date">{{ projects[i].end }}</span>
                    </div>
                    <ul>
                        {% set lists = projects[i].description|split(",,") %}
                        {% for item in lists %}
                        {% if item != '' %}
                        <li>{{ item }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </span>
                {% endfor %}
                {% endif %}

                {% if data.certificateActive == 'true' %}
                <div class="resumeThree-section">
                    <p class="resumeThree-left-section-title">CERTIFICATES</p>
                    {% set num = data.certificateNum|get_range %}
                    {% set certificates = data|get_certificate %}
                    {% for i in num %}
                    <span class="resumeThree-inputs">
                        <span>{{ certificates[i].name }}</span>
                        <span>{{ certificates[i].center }}</span>
                        <ul>
                            {% set lists = certificates[i].description|split(",,") %}
                            {% for item in lists %}
                            {% if item != '' %}
                            <li>{{ item }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <p>Date of Obtainment:{{ certificates[i].obtainment }}</p>
                    </span>
                    {% endfor %}
                    {% endif %}
                </div>

                {% if data.recommendationActive == 'true' %}
                <div class="resumeThree-section">
                    <p class="resumeThree-left-section-title">RECOMMENDATIONS</p>
                    <span class="resumeThree-inputs">
                        {% set lists = data.recommendations|split(",,") %}
                        {% for item in lists %}
                        <span>{{ item }}</span>
                        {% endfor %}
                    </span>
                </div>
                {% endif %}
            </div>

            <div class="resumeThree-right-section">
                <div class="resumeThree-section">
                    {% set experiences = data|get_experience %}
                    {% for i in experiences %}
                    {% if not loop.first %}
                    <span class="resumeThree-inputs">
                        <span>{{ i.company }}</span>
                        <span>{{ i.position }}</span>
                        <div class="resumeThree-dates">
                            <span class="resumeThree-date">{{ i.start }}</span>
                            <span class="resumeThree-date">{{ i.end }}</span>
                        </div>
                        <ul class="resumeThree-inputs">
                            {% set lists = i.description|split(",,") %}
                            {% for item in lists %}
                            {% if item != '' %}
                            <li>{{ item }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
</body>

</html>