<style>
    @font-face {
        font-family: resume10-name;
        src: url(http://localhost:8000/templates/fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
    }

    @font-face {
        font-family: resume10-font;
        src: url(http://localhost:8000/templates/fonts/Space_Mono/SpaceMono-Regular.ttf);
    }

    @page :first {
        size: A4;
        margin: -10px;
    }

    @page {
        size: A4;
        margin-left: -10px;
        margin-top: 0px;
    }

    span {
        word-wrap: break-word;
        font-family: resume10-font;
    }

    ul li {
        margin-bottom: 4px;
        font-family: resume10-font;
    }

    .resumeTenMain {
        font-size: 13px;
        background-color: #9ad3d5;
        width: 796px;
        height: 1125px;
        color: black;
        font-family: resume10-font;
    }

    .resumeTen-section-2 {
        display: flex;
        padding: 35px;
    }

    .resumeTen-left-section {
        width: 250px;
        height: 1006px;
        background-color: #fff5b0;
        padding: 30px;
        margin-right: 35px;
        text-align: center;
    }

    .resumeTen-left-section div {
        display: block;
    }

    .resumeTen-right-section {
        width: 350px;
        padding-left: 30px;
        border-left: 10px solid black;
    }

    .resumeTen-right-section div {
        display: block;
    }

    .resumeTen-image {
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    .resumeTen-image-label {
        cursor: pointer;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        align-items: center;
    }

    .resumeTen-Imageholder {
        border: 1px solid black;
        height: 180px;
        width: 180px;
        border-radius: 50%;
    }

    .resumeTen-capBox {
        text-transform: uppercase;
    }

    .resumeTen-nameBox {
        font-family: resume10-name;
        line-height: 1.5;
        font-size: 40px;
        margin-top: 16px;
        text-align: center;
        align-self: center;
    }

    .resumeTen-positionBox {
        font-family: resume10-font;
        font-size: 1.0em;
        font-weight: 600;
        letter-spacing: 2.8px;
        margin-top: 12px;
    }

    .resumeTen-inputs span {
        display: block;
        margin-bottom: 3px;
    }

    .resumeTen-section {
        margin-top: 20px;
    }

    .resumeTen-section-title {
        font-family: resume10-name;
        font-size: 20px;
        color: black;
    }

    .resumeTen-text-color {
        color: black;
    }


    .resumeTen-flex {
        margin-top: 50px;
    }

    .resumeTen-dates span {
        display: inline-block;
    }

    .resumeTen-date {
        width: 100px;
        margin-right: 5px;
    }

    .resumeTen-position {
        font-size: 15px;
        font-weight: 500;
    }
</style>

<div class="resumeTenMain">

    <div class="resumeTen-section-2">
        <div class="resumeTen-left-section">
            <div class="resumeTen-image">
                <label class="resumeTen-image-label">
                    <img class="resumeTen-Imageholder" src="{{ data.user_resume_image }}" alt="" />
                </label>
            </div>
            <div class="resumeTen-inputs">
                <span class="resumeTen-capBox resumeTen-nameBox">
                    {{ data.name }}
                </span>
                <span class="resumeTen-capBox resumeTen-positionBox">
                    {{ data.position }}
                </span>
            </div>
            <div class="resumeTen-flex">
                <div class="resumeTen-section">
                    <p class="resumeTen-section-title">CONTACT</p>
                    <span class="resumeTen-inputs">
                        <span>{{ data.email }}</span>
                        <span>{{ data.phone }}</span>
                        <span>{{ data.url }}</span>
                        <span>{{ data.address}}</span>
                    </span>
                </div>

                <div class="resumeTen-section">
                    <p class="resumeTen-section-title">SKILLS</p>
                    <span class="resumeTen-inputs">
                        {% for item in skills %}
                        <span>{{ item }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="resumeTen-section">
                    <p class="resumeTen-section-title">HOBBIES</p>
                    <span class="resumeTen-inputs">
                        {% for item in interests %}
                        <span>{{ item }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>

        </div>
        <div class="resumeTen-right-section">
            <p class="resumeTen-section-title">PROFILE</p>
            <span class="resumeTen-inputs">
                {{ data.profile }}
            </span>

            <div class="resumeTen-section">
                <p class="resumeTen-section-title">EDUCATION</p>
                <span class="resumeTen-inputs">
                    <span>{{ data.education_institute }}</span>
                    <span>{{ data.education_degree }}</span>
                    <span>{{ data.education_course }}</span>
                    <div class="resumeTen-dates">
                        <span class="resumeTen-date">{{ data.education_start }}</span>
                        <span class="resumeTen-date">{{ data.education_end }}</span>
                    </div>
                    <span>GPA: {{ data.education_score }}</span>
                </span>
            </div>

            <div class="resumeTen-section">
                <p class="resumeTen-section-title">INTERSHIP / COURSE</p>
                <span class="resumeTen-inputs">

                    <span class="resumeTen-position">{{ data.intern_position }}</span>
                    <span class="resumeTen-text-color">{{ data.intern_company }}</span>
                    <div class="resumeTen-dates">
                        <span class="resumeTen-date">{{ data.intern_start }}</span>
                        <span class="resumeTen-date">{{ data.intern_end }}</span>
                    </div>
                    <ul>
                        {% for item in intern_description %}
                        {% if item != '' %}
                        <li>Intern Description Intern Description Intern Description Intern Description Intern
                            Description Intern Description </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </span>
            </div>


        </div>
    </div>
</div>